In [1]:
#1.Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

test1='This is a test of the emergency text system'
file=open('test.txt','w')
file.write(test1)
file.close()

In [2]:
#2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

file=open('test.txt','r')
test2=file.read()
test2

#There is no difference between test1 and test2

'This is a test of the emergency text system'

In [5]:
#3.Create a CSV file called books.csv by using these lines:title,author,year
#The Weirdstone of Brisingamen,Alan Garner,1960
#Perdido Street Station,China Miéville,2000
#Thud!,Terry Pratchett,2005
#The Spellman Files,Lisa Lutz,2007
#Small Gods,Terry Pratchett,1992

file=open('books.csv','w')
file.write('''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992''')
file.close()

In [3]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3
db=sqlite3.connect("books.db")
c=db.cursor()
c.execute('create table books(title text,author text,year text)')
db.commit()

In [6]:
#5.Read books.csv and insert its data into the book table.

import pandas as pd
Books = pd.read_csv('books.csv',encoding='unicode_escape')
Books.to_sql('books',db,if_exists='append', index = False)
#db.close()

In [10]:
#6.Select and print the title column from the book table in alphabetical order.

data=c.execute("select title from books order by title")
title = pd.DataFrame(c.fetchall(), columns=['title'])
title

                           title
0         Perdido Street Station
1                     Small Gods
2             The Spellman Files
3  The Weirdstone of Brisingamen
4                          Thud!

In [13]:
#7.From the book table, select and print all columns in the order of publication.

data=c.execute("select * from books order by year")
df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [9]:
#8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

import sqlalchemy
engine=sqlalchemy.create_engine(f'sqlite:///books.db')
pd.read_sql('select * from books',db)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [11]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

!pip install redis

Collecting redis
  Downloading https://files.pythonhosted.org/packages/c5/fa/730caa74a6d6d88c289176161b2f56cac27f108cf3102165343dbaf1bc84/redis-4.1.4-py3-none-any.whl (175kB)
Collecting packaging>=20.4 (from redis)
  Downloading https://files.pythonhosted.org/packages/05/8e/8de486cbd03baba4deef4142bd643a3e7bbe954a784dc1bb17142572d127/packaging-21.3-py3-none-any.whl (40kB)
Collecting deprecated>=1.2.3 (from redis)
  Downloading https://files.pythonhosted.org/packages/51/6a/c3a0408646408f7283b7bc550c30a32cc791181ec4618592eec13e066ce3/Deprecated-1.2.13-py2.py3-none-any.whl
Collecting importlib-metadata>=1.0; python_version < "3.8" (from redis)
  Downloading https://files.pythonhosted.org/packages/92/f2/c48787ca7d1e20daa185e1b6b2d4e16acd2fb5e0320bc50ffc89b91fa4d7/importlib_metadata-4.11.3-py3-none-any.whl
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\user\python\lib\site-packages (from packaging>=20.4->redis) (2.3.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\user\python\lib\site-packages (from deprecated>=1.2.3->redis) (1.10.11)
Collecting zipp>=0.5 (from importlib-metadata>=1.0; python_version < "3.8"->redis)
  Downloading https://files.pythonhosted.org/packages/52/c5/df7953fe6065185af5956265e3b16f13c2826c2b1ba23d43154f3af453bc/zipp-3.7.0-py3-none-any.whl
Collecting typing-extensions>=3.6.4; python_version < "3.8" (from importlib-metadata>=1.0; python_version < "3.8"->redis)
  Downloading https://files.pythonhosted.org/packages/45/6b/44f7f8f1e110027cf88956b59f2fad776cca7e1704396d043f89effd3a0e/typing_extensions-4.1.1-py3-none-any.whl
Installing collected packages: packaging, deprecated, zipp, typing-extensions, importlib-metadata, redis
  Found existing installation: packaging 18.0
    Uninstalling packaging-18.0:
      Successfully uninstalled packaging-18.0
  Found existing installation: importlib-metadata 0.6
    Uninstalling importlib-metadata-0.6:
      Successfully uninstalled importlib-metadata-0.6
Successfully installed deprecated-1.2.13 importlib-metadata-4.11.3 packaging-21.3 redis-4.1.4 typing-extensions-4.1.1 zipp-3.7.0

In [20]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [21]:
#10. Increment the count field of test and print it.
conn.hincrby('test','count', 3)